/* Social Icons for Footer from https://codepen.io/deutschland2k/pen/qKpdJX */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  // color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .fa-twitter,
.fa-linkedin,
.fa-gitlab,
.fa-github,
.fa-envelope {
  font-size: 25px;
}

// LINKEDIN
.rounded-social-buttons .social-button.linkedin {
  color: #007bb5;
}
.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #05567d;
}

// TWITTER
.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}
.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

// GITLAB
.rounded-social-buttons .social-button.gitlab {
  color: #C6301B;
}
.rounded-social-buttons .social-button.gitlab:hover, .rounded-social-buttons .social-button.gitlab:focus {
  color: #000000;
}

// GITHUB
.rounded-social-buttons .social-button.github {
  color: #000000;
}
.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #888888;
}

// EMAIL
.rounded-social-buttons .social-button.email {
  color: #399083;
}
.rounded-social-buttons .social-button.email:hover, .rounded-social-buttons .social-button.email:focus {
  color: #000000;
}
